*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Inter, sans-serif;
  height:100vh;
  background-color:#282D35;
  }

nav {
  background-color: #21222a;
  padding: 30px 25px;
  height: 90px;
  display: flex;
  align-items:center;
}

.nav--text, .logo--text{
  margin:0;
}

.logo--text {
  margin-right:auto;
  color:#61dafb;
  font-weight:700;
  font-size:22px;
  margin-right:auto;
}

.nav--text {
  color:#deebf8;
  font-weight:600;
  }

.nav--logo{
height:30px; 
margin-right: 7px;
}

main{
  padding:57px 27px;
  color:white;
  background-image: url();
  background-repeat:no-repeat;
  background-position: right 75%;
}

.main--title{
margin:0;
font-size:39px;
letter-spacing: -0.05em;/* so that the letter come a bit close together  */
}

.main--facts{
margin-top:46px;
max-width:400px;
}

.main--facts > li {
  line-height:19px;
  padding-block:10px;/* padding-block is a css property which only applies padding to top and bottom */
  max-width:400px;/* to wrap the text basically what it means is to not let the text go too right */
}

.main--facts > li::marker{/*::marker is a pseudo element which basically selects all the bullet points of a ul/ol */
font-size: 1.4rem;
color:#61dafb;
}